# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
weather_data = pd.read_csv('output_data/cities.csv')
weather_data = weather_data.drop(columns= "Unnamed: 0")
weather_data

,city,lat,lng,max temp,humidity,wind speed,cloudiness,country,date
0,Jamestown,42.0970,-79.2353,76.59,43,9.22,0,US,1666723694
1,San Vicente de Cañete,-13.0751,-76.3835,67.21,70,9.44,13,PE,1666724154
2,Altay,47.8667,88.1167,36.21,30,4.63,100,CN,1666723984
3,Barranco,9.5167,-82.7000,87.91,62,6.06,88,PA,1666724155
4,Ushuaia,-54.8000,-68.3000,47.82,49,6.91,0,AR,1666724155
...,...,...,...,...,...,...,...,...,...
550,Grasse,43.6667,6.9167,63.09,91,3.44,0,FR,1666724354
551,Vysokovsk,56.3167,36.5500,31.24,76,5.32,48,RU,1666724354
552,Banda Aceh,5.5577,95.3222,79.39,82,9.31,86,ID,1666724355
553,Flagstaff,35.1981,-111.6513,58.82,27,3.44,0,US,1666724089
554,Nha Trang,12.2500,109.1833,78.80,93,5.03,99,VN,1666724355

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
gmaps.configure(api_key=g_key)

In [56]:
locations = weather_data[['lat', 'lng']]
humidity = weather_data["humidity"]
max_humidity = float(humidity.max())

layout={'width': '600px',
        'height': '420px',
        'padding': '3px',
        'border': '1px solid black',
        'margin': '0 auto 0 auto'}

fig = gmaps.figure(layout=layout, center = [0, 0], zoom_level=1.2)
humid_heatmap = gmaps.heatmap_layer(locations, weights=humidity)
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='3px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
ideal_df = weather_data.loc[(weather_data["max temp"] > 75) &
                                         (weather_data["max temp"] < 95) &
                                         (weather_data["wind speed"] < 10) &
                                         (weather_data["cloudiness"] <= 25)]
                                    
ideal_df

,city,lat,lng,max temp,humidity,wind speed,cloudiness,country,date
0,Jamestown,42.0970,-79.2353,76.59,43,9.22,0,US,1666723694
10,Weston,26.1004,-80.3998,87.01,50,7.00,0,US,1666724086
43,Fartura,-23.3883,-49.5100,81.88,43,6.55,0,BR,1666724167
54,Kāvali,14.9167,79.9833,75.36,63,7.40,1,IN,1666724171
87,Castro,-24.7911,-50.0119,75.43,50,5.66,0,BR,1666723940
128,George Town,5.4112,100.3354,78.73,93,2.30,20,MY,1666723732
135,Madera,37.1666,-119.8343,75.87,25,3.00,3,US,1666724162
136,Guerrero Negro,27.9769,-114.0611,75.97,31,3.11,0,MX,1666724196
149,Dwārka,22.2394,68.9678,80.19,63,8.77,0,IN,1666723687
155,Dholka,22.7167,72.4667,79.18,42,5.59,0,IN,1666724201
185,Cabo San Lucas,22.8909,-109.9124,88.61,56,4.74,7,MX,1666723619
193,Dāhānu,19.9667,72.7333,76.21,57,1.43,0,IN,1666724214
196,Mt. Pleasant,32.7941,-79.8626,79.09,72,5.75,20,US,1666724216
207,Lahaina,20.8783,-156.6825,82.96,82,8.86,1,US,1666724221
212,Eyl,7.9803,49.8164,79.54,76,6.04,5,SO,1666724223
224,Salalah,17.0151,54.0924,76.80,65,2.93,0,OM,1666724038
225,Melilla,35.2937,-2.9383,75.40,88,9.22,20,ES,1666724226
227,Kirakira,-10.4544,161.9205,78.24,85,3.94,4,SB,1666724227
261,Les Cayes,18.2000,-73.7500,86.47,55,9.01,5,HT,1666724240
271,San Vicente,-26.6167,-54.1333,83.93,32,4.61,0,AR,1666724244
282,Manali,13.1667,80.2667,78.89,64,6.53,0,IN,1666724248
284,Sur,22.5667,59.5289,81.03,49,5.41,0,OM,1666724039
307,Wekiva Springs,28.6986,-81.4256,87.10,52,1.99,1,US,1666724256
324,Marovoay,-16.1000,46.6333,77.02,77,2.33,0,MG,1666724263
327,Todos Santos,23.4500,-110.2167,87.04,61,8.25,10,MX,1666724264
360,Esna,25.2934,32.5540,75.22,35,9.75,0,EG,1666723796
378,Sahuaripa,29.0500,-109.2333,77.70,34,3.33,0,MX,1666724284
398,Dakar,14.6937,-17.4441,85.08,79,9.22,20,SN,1666723845
417,Long Beach,33.7670,-118.1892,78.96,38,4.61,0,US,1666723809
422,Sompeta,18.9333,84.6000,76.30,71,3.49,1,IN,1666724299
443,Eenhana,-17.4667,16.3333,75.40,48,5.59,21,NaN,1666724305
470,Abu Dhabi,24.4667,54.3667,86.02,63,5.75,0,AE,1666723490
482,Toamasina,-18.1667,49.3833,75.20,83,6.91,20,MG,1666724322
494,Bataiporã,-22.2953,-53.2711,89.62,26,1.81,0,BR,1666724329
495,Puerto Carreño,6.1890,-67.4859,91.38,52,3.44,20,CO,1666724329
496,Dillon,34.4166,-79.3712,78.87,37,2.62,6,US,1666724330
547,Rincon,32.2960,-81.2354,78.94,52,1.01,11,US,1666724352

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [43]:
ideal_df = ideal_df.reset_index(drop=True)
ideal_df = ideal_df.drop(['hotel name'], axis=1)
ideal_df

,city,lat,lng,max temp,humidity,wind speed,cloudiness,country,date,hotel hame
0,Jamestown,42.0970,-79.2353,76.59,43,9.22,0,US,1666723694,Chautauqua Harbor Hotel
1,Weston,26.1004,-80.3998,87.01,50,7.00,0,US,1666724086,Courtyard by Marriott Fort Lauderdale Weston
2,Fartura,-23.3883,-49.5100,81.88,43,6.55,0,BR,1666724167,Hotel Fartura Plaza
3,Kāvali,14.9167,79.9833,75.36,63,7.40,1,IN,1666724171,Hotel Mourya Paradise
4,Castro,-24.7911,-50.0119,75.43,50,5.66,0,BR,1666723940,Hotel Buganville Express
5,George Town,5.4112,100.3354,78.73,93,2.30,20,MY,1666723732,"Eastern & Oriental Hotel, Penang"
6,Madera,37.1666,-119.8343,75.87,25,3.00,3,US,1666724162,NaN
7,Guerrero Negro,27.9769,-114.0611,75.97,31,3.11,0,MX,1666724196,The Halfway Inn
8,Dwārka,22.2394,68.9678,80.19,63,8.77,0,IN,1666723687,"VITS Devbhumi, Dwarka"
9,Dholka,22.7167,72.4667,79.18,42,5.59,0,IN,1666724201,Royal Hotel
10,Cabo San Lucas,22.8909,-109.9124,88.61,56,4.74,7,MX,1666723619,Solmar Resort
11,Dāhānu,19.9667,72.7333,76.21,57,1.43,0,IN,1666724214,Seawoods Beach Hotel
12,Mt. Pleasant,32.7941,-79.8626,79.09,72,5.75,20,US,1666724216,Charleston Harbor Resort and Marina
13,Lahaina,20.8783,-156.6825,82.96,82,8.86,1,US,1666724221,Tiki Beach Hostel
14,Eyl,7.9803,49.8164,79.54,76,6.04,5,SO,1666724223,DAAWAD HOTEL EYL
15,Salalah,17.0151,54.0924,76.80,65,2.93,0,OM,1666724038,Salalah Gardens Hotel
16,Melilla,35.2937,-2.9383,75.40,88,9.22,20,ES,1666724226,Hotel Melilla Puerto Affiliated by Meliá
17,Kirakira,-10.4544,161.9205,78.24,85,3.94,4,SB,1666724227,NaN
18,Les Cayes,18.2000,-73.7500,86.47,55,9.01,5,HT,1666724240,La Cayenne Hôtel
19,San Vicente,-26.6167,-54.1333,83.93,32,4.61,0,AR,1666724244,Hotel Ceferino Rodriguez
20,Manali,13.1667,80.2667,78.89,64,6.53,0,IN,1666724248,Hotel srivalli park
21,Sur,22.5667,59.5289,81.03,49,5.41,0,OM,1666724039,Sur Grand Hotel
22,Wekiva Springs,28.6986,-81.4256,87.10,52,1.99,1,US,1666724256,Embassy Suites by Hilton Orlando North
23,Marovoay,-16.1000,46.6333,77.02,77,2.33,0,MG,1666724263,Hôtel 5/5 Marovoay
24,Todos Santos,23.4500,-110.2167,87.04,61,8.25,10,MX,1666724264,HOTELITO CASA MORELOS
25,Esna,25.2934,32.5540,75.22,35,9.75,0,EG,1666723796,Sandal Ankh1
26,Sahuaripa,29.0500,-109.2333,77.70,34,3.33,0,MX,1666724284,Hotel y Restaurante Alameda
27,Dakar,14.6937,-17.4441,85.08,79,9.22,20,SN,1666723845,Radisson Blu Hôtel
28,Long Beach,33.7670,-118.1892,78.96,38,4.61,0,US,1666723809,Hyatt Regency Long Beach
29,Sompeta,18.9333,84.6000,76.30,71,3.49,1,IN,1666724299,NaN
30,Eenhana,-17.4667,16.3333,75.40,48,5.59,21,NaN,1666724305,Hotel Litu
31,Abu Dhabi,24.4667,54.3667,86.02,63,5.75,0,AE,1666723490,Four Seasons Hotel Abu Dhabi at Al Maryah Island
32,Toamasina,-18.1667,49.3833,75.20,83,6.91,20,MG,1666724322,Calypso Hotel & Spa
33,Bataiporã,-22.2953,-53.2711,89.62,26,1.81,0,BR,1666724329,Hotel Vale do Ivinhema
34,Puerto Carreño,6.1890,-67.4859,91.38,52,3.44,20,CO,1666724329,Hotel El Lago
35,Dillon,34.4166,-79.3712,78.87,37,2.62,6,US,1666724330,Quality Inn
36,Rincon,32.2960,-81.2354,78.94,52,1.01,11,US,1666724352,Rincon Inn And Suites

In [39]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in ideal_df.iterrows():
    
    target_coord = f"{row['lat']}, {row['lng']}"
    target_search = "hotel"
    target_radius = 5000
    params = {
        "location": target_coord,
        "keyword": target_search,
        "radius": target_radius,
        "key": g_key
        }
    try:
        response = requests.get(base_url, params=params).json()
        ideal_df.loc[index,'Hotel Name'] = response['results'][0]['name']
    except IndexError:
        print(f"hotel not found for {row['city']}..skipping")

hotel not found for Madera..skipping
hotel not found for Kirakira..skipping
hotel not found for Sompeta..skipping

In [52]:
hotel_df = ideal_df
hotel_df = hotel_df.rename(columns={'hotel hame': "Hotel Name",
                                    'city':'City',
                                    'country':'Country', 
                                    'lat':'Lat', 
                                    'lng':'Lng'})

hotel_df

,City,Lat,Lng,max temp,humidity,wind speed,cloudiness,Country,date,Hotel Name
0,Jamestown,42.0970,-79.2353,76.59,43,9.22,0,US,1666723694,Chautauqua Harbor Hotel
1,Weston,26.1004,-80.3998,87.01,50,7.00,0,US,1666724086,Courtyard by Marriott Fort Lauderdale Weston
2,Fartura,-23.3883,-49.5100,81.88,43,6.55,0,BR,1666724167,Hotel Fartura Plaza
3,Kāvali,14.9167,79.9833,75.36,63,7.40,1,IN,1666724171,Hotel Mourya Paradise
4,Castro,-24.7911,-50.0119,75.43,50,5.66,0,BR,1666723940,Hotel Buganville Express
5,George Town,5.4112,100.3354,78.73,93,2.30,20,MY,1666723732,"Eastern & Oriental Hotel, Penang"
6,Madera,37.1666,-119.8343,75.87,25,3.00,3,US,1666724162,NaN
7,Guerrero Negro,27.9769,-114.0611,75.97,31,3.11,0,MX,1666724196,The Halfway Inn
8,Dwārka,22.2394,68.9678,80.19,63,8.77,0,IN,1666723687,"VITS Devbhumi, Dwarka"
9,Dholka,22.7167,72.4667,79.18,42,5.59,0,IN,1666724201,Royal Hotel
10,Cabo San Lucas,22.8909,-109.9124,88.61,56,4.74,7,MX,1666723619,Solmar Resort
11,Dāhānu,19.9667,72.7333,76.21,57,1.43,0,IN,1666724214,Seawoods Beach Hotel
12,Mt. Pleasant,32.7941,-79.8626,79.09,72,5.75,20,US,1666724216,Charleston Harbor Resort and Marina
13,Lahaina,20.8783,-156.6825,82.96,82,8.86,1,US,1666724221,Tiki Beach Hostel
14,Eyl,7.9803,49.8164,79.54,76,6.04,5,SO,1666724223,DAAWAD HOTEL EYL
15,Salalah,17.0151,54.0924,76.80,65,2.93,0,OM,1666724038,Salalah Gardens Hotel
16,Melilla,35.2937,-2.9383,75.40,88,9.22,20,ES,1666724226,Hotel Melilla Puerto Affiliated by Meliá
17,Kirakira,-10.4544,161.9205,78.24,85,3.94,4,SB,1666724227,NaN
18,Les Cayes,18.2000,-73.7500,86.47,55,9.01,5,HT,1666724240,La Cayenne Hôtel
19,San Vicente,-26.6167,-54.1333,83.93,32,4.61,0,AR,1666724244,Hotel Ceferino Rodriguez
20,Manali,13.1667,80.2667,78.89,64,6.53,0,IN,1666724248,Hotel srivalli park
21,Sur,22.5667,59.5289,81.03,49,5.41,0,OM,1666724039,Sur Grand Hotel
22,Wekiva Springs,28.6986,-81.4256,87.10,52,1.99,1,US,1666724256,Embassy Suites by Hilton Orlando North
23,Marovoay,-16.1000,46.6333,77.02,77,2.33,0,MG,1666724263,Hôtel 5/5 Marovoay
24,Todos Santos,23.4500,-110.2167,87.04,61,8.25,10,MX,1666724264,HOTELITO CASA MORELOS
25,Esna,25.2934,32.5540,75.22,35,9.75,0,EG,1666723796,Sandal Ankh1
26,Sahuaripa,29.0500,-109.2333,77.70,34,3.33,0,MX,1666724284,Hotel y Restaurante Alameda
27,Dakar,14.6937,-17.4441,85.08,79,9.22,20,SN,1666723845,Radisson Blu Hôtel
28,Long Beach,33.7670,-118.1892,78.96,38,4.61,0,US,1666723809,Hyatt Regency Long Beach
29,Sompeta,18.9333,84.6000,76.30,71,3.49,1,IN,1666724299,NaN
30,Eenhana,-17.4667,16.3333,75.40,48,5.59,21,NaN,1666724305,Hotel Litu
31,Abu Dhabi,24.4667,54.3667,86.02,63,5.75,0,AE,1666723490,Four Seasons Hotel Abu Dhabi at Al Maryah Island
32,Toamasina,-18.1667,49.3833,75.20,83,6.91,20,MG,1666724322,Calypso Hotel & Spa
33,Bataiporã,-22.2953,-53.2711,89.62,26,1.81,0,BR,1666724329,Hotel Vale do Ivinhema
34,Puerto Carreño,6.1890,-67.4859,91.38,52,3.44,20,CO,1666724329,Hotel El Lago
35,Dillon,34.4166,-79.3712,78.87,37,2.62,6,US,1666724330,Quality Inn
36,Rincon,32.2960,-81.2354,78.94,52,1.01,11,US,1666724352,Rincon Inn And Suites

In [53]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [54]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations,
    info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='3px', wi…